name: CI
on:
  push:
    branches:
      - '*'
    tags-ignore:
      - v**
jobs:
  backend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Python 3
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'
          cache: 'pip'
      - name: Install dependencies
        run: pip install -r requirements.txt

